<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Appraisals</title>
    <link rel="stylesheet" href="http://localhost:8080/all-view.css">
</head>
<body>
    <div id="header">
        <p id="nameHead">Appraisals</p>
    </div>

    <div id="left">
        <a href="/" id="homePage" class="leftBtn">Home page</a>
        <br>
        <a sec:authorize="hasRole('ADMIN') or hasRole('TEACHER')"
           th:href="@{/appraisal/add(disciplineId=${attributes.disciplineId}, studentNumber=0)}"
           title="Add appraisal" id ="add" class="leftBtn" >Add appraisal</a>
    </div>

    <div id="mainAppraisals">
        <table id="table">
            <caption id="caption" th:text="${attributes.discipline}"></caption>

            <thead>
            <tr>
                <th>Student number</th>
                <th>Student full name</th>
                <th>Score</th>
                <th>Operations</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="appr : ${allAppraisal}">
                <td th:text="${appr.getStudent().getStudentNumber()}"></td>
                <td th:text="${appr.getStudent().getFullName()}"></td>
                <td th:text="${appr.getScore()}"></td>

                <td><a sec:authorize="hasRole('ADMIN') or hasRole('TEACHER')" th:href="@{/appraisal/update(id=${appr.getId()})}" title="Update appraisal" class="updDel">Update</a>
                    <br>
                    <a sec:authorize="hasRole('ADMIN') or hasRole('TEACHER')" th:href="@{/appraisal/delete(id=${appr.getId()})}" title="Delete appraisal" class="updDel">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>

<div id="aside">
    <form th:method="GET" th:action="@{/appraisal/select}" th:object="${attributes}" id="select">
        <input type="hidden" th:field="*{disciplineId}">
        <input type="hidden" th:field="*{studentNumber}">
        <input type="hidden" th:field="*{discipline}">

        <label for="inputNumber">Student number:</label>
        <input type="text" th:field="*{studentNumber}" class="inputSelect" id="inputNumber">
        <br><br>

        <label for="inputFullName">Student full name:</label>
        <input type="text" th:field="*{studentFullName}" class="inputSelect" id="inputFullName">
        <br><br>

        <label for="inputScoreFrom">Score from:</label>
        <input type="number" th:field="*{scoreFrom}" class="inputSelect" id="inputScoreFrom">
        <br><br>

        <label for="inputScoreTo">Score to:</label>
        <input type="number" th:field="*{scoreTo}" class="inputSelect" id="inputScoreTo">
        <br><br>

        <label for="sort">Sort by:</label>
        <select th:field="*{sort}" class="inputSelect" id="sort">
            <option th:value="${'without sorting'}"
                    th:text="${'without sorting'}"/>
            <option th:value="${'Student asc'}"
                    th:text="${'Student number asc'}"/>
            <option th:value="${'Student desc'}"
                    th:text="${'Student number desc'}"/>
            <option th:value="${'Student asc'}"
                    th:text="${'Student full name asc'}"/>
            <option th:value="${'Student desc'}"
                    th:text="${'Student full name desc'}"/>
            <option th:value="${'Score asc'}"
                    th:text="${'Score asc'}"/>
            <option th:value="${'Score desc'}"
                    th:text="${'Score desc'}"/>
        </select>
        <br><br>

        <input type="submit" th:value="Select" id="btnSelect">
    </form>
</div>

    <div id="footer">stepancupriyanovich@gmail.com</div>
</body>
</html>