<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Add student</title>
    <link rel="stylesheet" href="http://localhost:8080/upd-add.css">
</head>
<body>

<div id="header">
    <p id="nameHead" th:text="${'Add student to group: ' + student.studentsGroup.groupNumber}"></p>
</div>

<div id="main">
<form th:method="POST" th:action="@{/student/save}" th:object="${student}" id="addAttr">
    <input type="hidden" th:field="*{studentNumber}">
    <input type="hidden" th:field="*{fromGroup}">
    <input type="hidden" th:field="*{groupId}">

    <label for="studentNumber">Student number:</label>
    <input type="text" th:field="*{studentNumber}" id="studentNumber" class="inputSelect" disabled>
    <br><br>

    <label for="fullName">Full name:</label>
    <input type="text" th:field="*{fullName}" id="fullName" class="inputSelect">
    <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="error"></p>
    <br><br>

    <label for="examPoints">Exam points:</label>
    <input type="text" th:field="*{examPoints}" id="examPoints" class="inputSelect">
    <p th:if="${#fields.hasErrors('examPoints')}" th:errors="*{examPoints}" class="error"></p>
    <br><br>

    <label for="dateOfBirth">Date of birth:</label>
    <input type="text" th:field="*{dateOfBirth}" id="dateOfBirth" class="inputSelect">
    <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="error"></p>
    <br><br>

    <label for="city">City:</label>
    <input type="text" th:field="*{city}" id="city" class="inputSelect">
    <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="error"></p>
    <br><br>

    <label for="scholarship">Scholarship:</label>
    <input type="text" th:field="*{scholarship}" id="scholarship" class="inputSelect">
    <p th:if="${#fields.hasErrors('scholarship')}" th:errors="*{scholarship}" class="error"></p>
    <br><br>

    <input type="submit" value="Add" id="submitBtn">
</form>
</div>

<div id="footer">stepancupriyanovich@gmail.com</div>

</body>
</html>