<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
    <link rel="stylesheet" href="http://localhost:8080/home-page.css">
</head>
<body>

<div id="header">
    <p id="nameHead">Student achievement</p>
</div>

<div id="main">
<a href="http://localhost:8080/faculty/all">Faculties</a>
<br><br>
<a href="http://localhost:8080/students_group/all">Students groups</a>
<br><br>
<a href="http://localhost:8080/student/all">Students</a>
<br><br>
<a href="http://localhost:8080/discipline/all">Disciplines</a>
<br><br>
<a href="http://localhost:8080/appraisal/all">Appraisals</a>
<br><br>
</div>

<div id="footer">stepancupriyanovich@gmail.com</div>

</body>
</html>