<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Authentication</title>
    <link rel="stylesheet" href="http://localhost:8080/authentication-view.css">
</head>
<body>

<div id="header">
    <p id="nameHead">Login</p>
</div>

<div id="main">
    <form th:action="@{/login}" method="post" id="login">
        <p th:if="${param.error}" class="error">Invalid username and password.</p>
        <p th:if="${param.logout}" class="error">You have been logged out.</p>
        <br>

        <label for="username"> Username: </label>
        <br>
        <input type="text" name="username" id="username"/>
        <br>

        <label for="password"> Password:</label>
        <br>
        <input type="password" name="password" id="password"/>
        <br><br>

        <input type="submit" value="Sign In" id="submitBtn"/>
    </form>
    <br><br>

    <a href="/registration">registration</a>
</div>

<div id="footer">stepancupriyanovich@gmail.com</div>

</body>
</html>